<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
	<% if @user.ratings.empty? %>
	No beers have been rated yet!
	<% else %>
	Has <%= pluralize(@user.ratings.count, 'rating') %>, average <%= 			@user.average_rating %>
<h3>ratings</h3>
<% end %>
</p>

<p>
<table>
  <tbody>
	<% @user.ratings.each do |rating| %>
      <tr>
        <td><%= rating.beer.name %></td>
        <td><%= rating.score %></td>
	<% if @user == current_user %>
        <td><%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %></td>
      </tr>
	<% end %>	
  </tbody>
</table>
</p>

<% if @user == current_user %>
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
